*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:"Poppins"
}
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(login.background.image.jpg);
    background-size: cover;
}
.wrapper{
    width: 420px;
    background:transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    color: #fff;
    backdrop-filter: blur(30px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    border-radius: 10px;
    padding: 30px 40px;
}
.wrapper h1{
    font-size: 36px;
    text-align: center;
    color: white;
}
.wrapper .input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}
.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 40px;
    font-size: 16px;
    color: white;
    padding: 20px 45px 20px 20px;
}
.input-box input::placeholder{
    color: white;
}

.input-box i {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    font-size: 17px;
}

.wrapper .remember-forgot{
    color: white;
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;

}
.remember-forgot input {
    accent-color: white;
    margin-right: 3px;
}
.remember-forgot a {
    text-decoration: none;
    color: white;
}
.remember-forgot a:hover {
    text-decoration: underline;

}
.wrapper .button {
    width: 100%;
    height: 45px;
    background-color: white;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    font-size: 16px;
    cursor: pointer;
    color: #333;
    font-weight: 600;
}
.register-link{
    color: white;
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;
}
.register-link p a {
    color: white;
    text-decoration: none;
    font-weight: 550;
}
.register-link p a:hover{
    text-decoration: underline;
}
